@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
  .step {
    color: mat.get-theme-color($theme, primary);
  }

  .section-title {
    color: mat.get-theme-color($theme, on-surface-variant);
  }

  .recipe-detail-footer {
    background-color: mat.get-theme-color($theme, surface);
  }
}
