@if(recipe()) {
<header class="header">
  <button mat-icon-button color="primary" (click)="onBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  {{ recipe().title }}
  <div style="flex: 1"></div>
  <button mat-icon-button color="primary" (click)="onDelete()">
    <mat-icon>more_vert</mat-icon>
  </button>
</header>
<div class="content">
  <mat-tab-group>
    <mat-tab label="Info">
      <div class="tab-page">
        <img class="image" [src]="recipe().imageUrl" />

        <mat-chip-set aria-label="Dog selection" style="margin-bottom: 8px">
          <mat-chip>
            <mat-icon matChipAvatar fontIcon="schedule" />
            {{ recipe().totalTime | duration }}
          </mat-chip>
          @if(recipe().calories) {
          <mat-chip>
            <mat-icon matChipAvatar fontIcon="bolt" />
            {{ recipe().calories }} calories
          </mat-chip>
          }
          <mat-chip>
            <mat-icon matChipAvatar fontIcon="people" />
            {{ recipe().recipeYield }} portions
          </mat-chip>
        </mat-chip-set>

        <span class="detail-description">{{ recipe().description }}</span>

        <span class="section-title">Ingredients</span>
        <app-ingredient-list
          class="ingredient-list"
          [ingredients]="recipe().ingredientsList"
        ></app-ingredient-list>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Ingredients">
      <div class="tab-page">
       
      </div>
    </mat-tab> -->
    <mat-tab label="Instructions">
      <div class="tab-page">
        <app-instruction-list
          [instructions]="recipe().instructions"
        ></app-instruction-list>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="recipe-detail-footer">
    <div style="flex: 1"></div>
    <button mat-flat-button color="primary" (click)="onSchedule()">
      Schedule
    </button>
  </div>
</div>
} @else {
<div class="loading">
  <mat-spinner></mat-spinner>
</div>
}
