
.header {
  height: 64px;
  width: 100%;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  align-items: center;

}

.actions {
  display: flex;
  flex-direction: row;
  gap:8px;
  padding-bottom: 16px;
  
}

.list-item-content {
  width: 100%;
  display: flex;
  align-items: center;

}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.member{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.household-detail {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.household-title {
  padding-left: 16px;
  margin-bottom: 16px;
  font-size: 20px;
}